<app-navbar> </app-navbar>


  <mat-drawer-container >
    <mat-drawer mode="side" opened="true">
      <app-sidebar>
  
      </app-sidebar>
  </mat-drawer>
    <mat-drawer-content>

      <div class="container">
        <div class="row align-items-start">
          <div class="col">
      
          </div>
          <div class="col">
      
          </div>
          <div class="col">
          
          </div>
        </div>
      <div class="row align-items-center h-100" width="40px">
        <div class="col">
          
        </div>
        <div class="col-8" >
       
          <mat-card *ngIf="assignmentTransmis" class="shadow p-3 mb-5 bg-white rounded">
            <h3 class="text-secondary">Details de l'Assignment</h3>
            <div class="col-12" >
              <div  class="rond">
                <img src="https://i.pravatar.cc/150?img={{assignmentTransmis?.id}}" height="200" class="rounded-circle z-depth-2"    data-holder-rendered="true"/>
              </div>
              
            </div>
           
           
          <mat-card-title class="profilename">  <div class="row"> <div class="col-12"> Assignment : {{assignmentTransmis.nom}}</div></div> </mat-card-title>
            <mat-card-subtitle> {{assignmentTransmis?.dateDeRendu | date}}</mat-card-subtitle>
            <div id="bottom">
              <div class="row">
               
                <div class="col">
                  <button mat-raised-button color="warn" [disabled]="!isAdmin()" (click)="onClickEdit()"><mat-icon class="icon-edit">edit</mat-icon></button>
                </div>
                <div class="col">
                  <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
                    Rendu
                  </mat-checkbox>
              
                </div>
               <div class="col">
                <button class="bout" mat-flat-button color="warn" [disabled]="!isAdmin()" (click)="onDeleteAssignment()"><mat-icon class="icon-del">delete</mat-icon></button>
               </div>
            
           
              </div>
            
            </div>
          </mat-card>
          
        </div>
        <div class="col">
          
        </div>
      </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  

