.card{

    border-radius:10px;
    width: 400px;
    padding: 100px;
    margin-bottom: 100%;
    position: absolute;
    top:10%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: hsla(205,46% ,30%,1);
    background: linear-gradient(90deg, hsla(205,46%, 30%,1) 0% , hsla(260, 29%,36% , 1) 100%)
}

.center-icon{
    height:10px;
    width: 100px;
    color :rgb(49, 166, 202);
    font-size: 60px;
    margin-bottom: 20%;
    bottom: 40%;
}