<div class="card" >
    <div class="text-center">
      <mat-dialog-content *ngIf="!verification"   >
        <p class="text-danger">Username ou password invalide</p>
      </mat-dialog-content>
        <mat-icon class="center-icon"> person_outline </mat-icon>
            <form  [formGroup]="loginForm" fxLayoutAlign = "stretch" fxLayout= "column" (ngSubmit)="onSubmit()" >
           
              
             
              
                <mat-form-field >
                  <mat-label>Username</mat-label>
                  <input matInput placeholder="entrez votre login"  formControlName="username" required class="text-secondary">
                   <mat-error *ngIf="password?.errors?.['required'] ">
                      Veuillez entrer votre password
                     </mat-error> 
             
                </mat-form-field>
    
                <mat-form-field >
                    <mat-label>password</mat-label>
                    <input matInput placeholder="entrez votre login" type="password"  formControlName="password" required  class="text-secondary">
                    
                     <mat-error *ngIf="password?.errors?.['required']">
                      Veuillez entrer votre password
                    </mat-error> 
                  </mat-form-field>
                   
                  <mat-form-field appearance="fill" required>
                    <mat-label>Role</mat-label>
                    <select matNativeControl formControlName="role" >
                      <optgroup >
                        <option value="admin">Admin</option>
                        <option value="user ">User</option>
                      </optgroup>
                     
                    </select>
                  </mat-form-field>
             
                  <br><br>
                <button mat-raised-button type="submit" >
                        Login
                </button>
               
              </form>
 
              
    </div>

</div>
