<router-outlet></router-outlet>
<!-- <mat-sidenav-container>
  <mat-sidenav #sideNar mode="side" opened>
    <app-sidebar>

    </app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <-- <app-navbar> </app-navbar> -->

  <!-- </mat-sidenav-content>
</mat-sidenav-container> --> 
<!-- <app-navbar> </app-navbar>


  <mat-drawer-container >
    <mat-drawer mode="side" opened="true">
      <app-sidebar>
  
      </app-sidebar>
  </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
   -->



<!-- <h1> -->
  
  <!-- <nav>
    <a routerLink="/home">Application de gestion des assignments</a>&nbsp;
  </nav> -->
<!-- </h1> -->

<!-- <mat-slide-toggle color="primary" (click)="login()">Login</mat-slide-toggle>
<br>
<button mat-raised-button color="primary" (click)="peuplerBD()">Peuplet BD</button> -->
<!--
  La ligne suivante permet d'afficher le composant qui correspond à l'URL (en fonction des routes)
-->

