<app-navbar> </app-navbar>


  <mat-drawer-container >
    <mat-drawer mode="side" opened="true">
      <app-sidebar>
  
      </app-sidebar>
  </mat-drawer>
    <mat-drawer-content>
      <div class="card">
        <div  >
          <form ngForm #assignmentForm class="form" (submit)="onSubmit(); assignmentForm.reset()">
            <h1 class="title">ADD ASSIGNMENT</h1>
            <mat-form-field>
              <input class="nom-assignment" matInput placeholder="Nom de l'assignment" [(ngModel)]="nomAssignment" name="nom">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Date rendu</mat-label>
              <input class="nom-assignment"  matInput [matDatepicker]="picker" [(ngModel)]="dateDeRenduAssignment" name="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          
            <button mat-stroked-button color="primary">
              Ajouter un devoir
            </button>
          </form> 
        </div>
      
      
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  



